@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-brand-primary: #16c47f;
  --color-brand-secondary: #f5c451;

  /* Background & Surface Colors */
  --color-app-bg: #080808;
  --color-app-card: #141414;

  /* Text Colors */
  --color-text-main: #ffffff;
  --color-text-muted: #b3b3b3;
}

:root {
  color: var(--color-text-main);
  font-family: "Inter", sans-serif;
}

button, [role="button"] {
  cursor: pointer;
}

body {
  min-height: 100vh;
  background: #080808;
}
